Source: wott-agent
Maintainer: Artem Martynovich <artem.martynovich@gmail.com>
Homepage: https://www.wott.io/
Section: python
Priority: extra
Build-Depends:
 debhelper (>= 9),
 dh-python,
 python3-setuptools,
 python3-all
Standards-Version: 3.9.8
Vcs-Git: https://github.com/WoTTsecurity/agent.git
Vcs-Browser: https://github.com/WoTTsecurity/agent
X-Python3-Version: >= 3.5

Package: wott-agent
Architecture: all
Section: python
Depends: ghostunnel,
 rng-tools,
 python3.5,
 python3.5-chardet,
 python3.5-netifaces,
 python3.5-pyasn1,
 python3.5-openssl,
 python3.5-cryptography,
 python3.5-cffi,
 python3.5-certifi,
 python3.5-idna,
 python3.5-iptables,
 python3.5-psutil,
 python3.5-sh,
 python3.5-systemd,
 python3.5-tz,
 python3.5-urllib3,
 python3.5-requests,
 python3.5-pkg-resources,
 python3.5-six,
 python3.5-pycparser,
 python3.5-ply,
 python3.5-apt,
 systemd, systemd-sysv
Description: Let's Encrypt for IoT (with more bells and whistles).
