interactions:
- request:
    body: '{"device_operating_system_version": "4.15.0-45-generic", "fqdn": "localhost",
      "ipv4_address": "192.168.1.3", "uptime": 60.0, "distr_id": "Raspbian", "distr_release":
      "9.4", "scan_info": "[{\"host\": \"127.0.0.1\", \"proto\": \"tcp\", \"port\":
      631, \"state\": \"open\"}, {\"host\": \"127.0.0.1\", \"proto\": \"udp\", \"port\":
      68, \"state\": \"open|filtered\"}, {\"host\": \"127.0.0.1\", \"proto\": \"udp\",
      \"port\": 631, \"state\": \"open|filtered\"}, {\"host\": \"127.0.0.1\", \"proto\":
      \"udp\", \"port\": 5353, \"state\": \"open|filtered\"}]"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://mtls.wott.io/v0.2/ping
  response:
    body: {string: '{"message":"pong"}'}
    headers:
      Allow: ['OPTIONS, GET, POST']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
