interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://mtls.wott.io/v0.2/ping
  response:
    body: {string: '{"block_networks": [], "block_ports": []}'}
    headers:
      Allow: ['GET, POST, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"device_operating_system_version": "4.15.0-45-generic", "fqdn": "localhost",
      "ipv4_address": "192.168.1.3", "uptime": 60.0}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://mtls.wott.io/v0.2/ping
  response:
    body: {string: '{"message":"pong"}'}
    headers:
      Allow: ['GET, POST, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://mtls.wott.io/v0.2/ping
  response:
    body: {string: '{"block_networks": [], "block_ports": [], "deb_packages_hash": "e88b4875f08ede2e1068e117bdaa80ac"}'}
    headers:
      Allow: ['GET, POST, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"device_operating_system_version": "4.15.0-45-generic", "fqdn": "localhost",
      "ipv4_address": "192.168.1.3", "uptime": 60.0}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://mtls.wott.io/v0.2/ping
  response:
    body: {string: '{"message":"pong"}'}
    headers:
      Allow: ['GET, POST, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1