interactions:
- request:
    body: '{"device_operating_system_version": "4.15.0-45-generic", "fqdn": "localhost",
      "ipv4_address": "192.168.1.3", "device_manufacturer": "Raspberry Pi", "device_model":
      "900092"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://mtls.wott.io/v0.2/ping
  response:
    body: {string: "<html>\r\n<head><title>400 The SSL certificate error</title></head>\r\
        \n<body>\r\n<center><h1>400 Bad Request</h1></center>\r\n<center>The SSL certificate\
        \ error</center>\r\n<hr><center>nginx/1.15.8</center>\r\n</body>\r\n</html>\r\
        \n"}
    headers:
      Content-Type: [text/html]
    status: {code: 400, message: Bad Request}
version: 1
