interactions:
- request:
    body: '{"device_architecture": "x86_64", "fqdn": "localhost", "csr": null, "device_operating_system_version":
      "4.9.125-linuxkit", "device_operating_system": "Linux", "ipv4_address": "172.18.0.3",
      "device_id": null, "fallback_token": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.wott.io/v0.2/sign-expired-csr
  response:
    body:
      string: '{"device_id":["This field may not be null."]}'
    headers:
      Allow:
      - POST, PUT, PATCH, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
version: 1
